

.content-2 {
    background-image: url('https://sky-static.mavi.com/sys-master/maviTrImages/h6f/ha8/10066146459678/WEB_02.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40em;
}